<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{- $title := .Title -}}
{{- if .IsHome -}}
  {{- $title = site.Title -}}
{{- else if .Title -}}
  {{- $title = printf "%s | %s" .Title site.Title -}}
{{- end -}}
<title>{{ $title }}</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
{{- with site.Params.keywords }}
<meta name="keywords" content="{{ delimit . ", " }}">
{{- end }}
<meta name="author" content="{{ site.Params.author | default site.Title }}">
<meta name="robots" content="index, follow">

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">

<link rel="canonical" href="{{ .Permalink }}">

{{- range .AlternativeOutputFormats }}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/main.css">

<link rel="icon" href="/logo.png" type="image/png">
